/* --------------------------------------------------------------------------------------------- */
/*	CSS Variables
/* --------------------------------------------------------------------------------------------- */


@import "./css-variables.css";


/* --------------------------------------------------------------------------------------------- */
/*	0. Fonts
/* --------------------------------------------------------------------------------------------- */

/* Avenir Next LT Pro ------------------------ */

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('./assets/fonts/avenir-next/AvenirNextLTPro-Medium-It.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/avenir-next/AvenirNextLTPro-BoldIt.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/avenir-next/AvenirNextLTPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* CONDENSED */

@font-face {
    font-family: 'Avenir Next LT Pro Condensed';
    src: url('../fonts/avenir-next/AvenirNextLTPro-BoldCn.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


/* --------------------------------------------------------------------------------------------- */
/*	Document Setup
/* --------------------------------------------------------------------------------------------- */


html {
	font-size: 62.5%;
}

:root {
	color: var( --c-black );
	line-height: var( --lh-body );
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root > * {
	font-family: var( --ff-avenir-next );
	font-size: var( --fs-body );
}

.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	font-family: inherit;
	font-size: inherit;
}


/* --------------------------------------------------------------------------------------------- */
/*	Structure
/* --------------------------------------------------------------------------------------------- */


/* Block Widths ------------------------------ */

.wp-block {
	max-width: var( --mw-thin );
}

.wp-block .wp-block {
	max-width: 100%;
}

*[data-align=right] .editor-block-list__block-edit,
*[data-align=left] .editor-block-list__block-edit,
*[data-align=right] .is-block-content,
*[data-align=left] .is-block-content {
	margin-bottom: 1em;
	max-width: 50%;
}

*[data-align="wide"],
*[data-align="full"] {
	margin: 6rem auto;
}

.wp-block[data-align="wide"] {
    max-width: var( --mw-max );
	width: calc( 100% - calc( 2 * var( --body-margin ) ) );
}

.wp-block[data-align="full"] {
    max-width: 100%;
    width: 100%;
}

*[data-align="wide"] [data-type="core/group"]:not([data-align="wide"]):not([data-align="full"]),
*[data-align="full"] [data-type="core/group"]:not([data-align="wide"]):not([data-align="full"]) {
	margin-left: auto;
	margin-right: auto;
	max-width: var( --mw-thin );
}

*[data-align="wide"] > [data-type="core/group"] {
	max-width: var( --mw-max ) !important;
}

*[data-align="full"] > [data-type="core/group"] {
	max-width: none !important;
}

/* Post Title -------------------------------- */

.editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input:focus {
	color: inherit;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title {
	max-width: var( --mw-max );
	text-align: center;
}


/* --------------------------------------------------------------------------------------------- */
/*	Elements
/* --------------------------------------------------------------------------------------------- */


:root .editor-styles-wrapper p,
.editor-styles-wrapper .editor-rich-text__tinymce,
.editor-styles-wrapper .editor-rich-text__tinymce.mce-content-body {
	line-height: var( --lh-body );
}

.editor-block-list__layout a,
.block-editor-block-list__layout a {
	color: var( --c-yellow );
	text-decoration: underline;
}

/* Headings ---------------------------------- */

.editor-post-title__block .editor-post-title__input,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: var( --lh-heading );
}

.editor-post-title__block .editor-post-title__input,
h1 { font-size: var( --fs-h1 ); font-weight: 900; }
h2 { font-size: var( --fs-h2 ); }
h3 { font-size: var( --fs-h3 ); }
h4 { font-size: var( --fs-h4 ); }
h5 { font-size: var( --fs-h5 ); }
h6 { font-size: var( --fs-h6 ); }

/* Media ------------------------------------- */

figcaption {
	color: inherit;
	font-size: 1.6rem;
	margin: 1em 0 0;
}

*[data-align="full"] > figcaption,
*[data-align="full"] > * > figcaption {
	padding: 0 var( --body-margin );
}
